.git
.coverage
.dockerignore
.gitignore
LICENSE
README.md
.vscode
*.yml
requirements-minimal.txt
Dockerfile

react-frontend/node_modules
react-frontend/build
static
migrations
nginx/logfile.log
htmlcov
env