boto3==1.14.16
coverage==5.0.2
Django==3.0.7
django-csp==3.7
django-filter==2.3.0
django-sslserver==0.22
django-storages==1.9.1
django-webtest==1.9.7
djangorestframework==3.11.0
google-auth==1.10.0
markdown==3.2.2
moviepy==1.0.3
Pillow==7.2.0
psycopg2-binary==2.8.4
ptvsd==4.3.2
pypugjs==5.8.1
requests==2.22.0
social-auth-app-django==3.1.0
uWSGI==2.0.18
WebOb==1.8.5
WebTest==2.0.33
whitenoise==5.0.1