// TODO pick a color scheme! https://coolors.co/palettes/trending is a great resource.
$theme-primary-color: #1851A0;
$theme-primary-color-faint: #3766A6;
$theme-primary-color-faint-50: #5982BB;
$theme-primary-color-faint-25: #9bbceb;
$theme-secondary-color: #F36811;
$theme-secondary-color-faint: #FC8A44;
$theme-secondary-color-faint-50: #FFA56D;
$theme-terciary-color: #0B9D7C;
$theme-terciary-color-faint: #2CA288;
$theme-terciary-color-faint-50: #4FB8A1;
$theme-terciary-color-faint-25: #84dfcb;
$theme-quaternary-color: #F39E11;
$background-color: #f8fafa;
$background-color-alt: #f5f5f5;
$background-color-dark: #e1e4ec;
$theme-secondary-color-0: $background-color;
$theme-secondary-color-5: #fcf1e9;  // TODO
$theme-secondary-color-10: #f9e3d3;  // TODO
$theme-secondary-color-20: #f7d5bd;  // TODO
$theme-secondary-color-30: #f4c7a7;  // TODO
$theme-secondary-color-40: #f1b991;  // TODO
$theme-secondary-color-50: #eeaa7a;  // TODO
$theme-secondary-color-60: #eb9c64;  // TODO
$theme-secondary-color-70: #e98e4e;  // TODO
$theme-secondary-color-80: #e68038;  // TODO
$theme-secondary-color-90: #e37222;  // TODO
$failure-color: #bf1d2a;
$success-color: #2abf1d;
$bad-color: #e55934;

:export {
    themePrimaryColor: $theme-primary-color;
    themePrimaryColorFaint: $theme-primary-color-faint;
    themePrimaryColorFaint50: $theme-primary-color-faint-50;
    themePrimaryColorFaint25: $theme-primary-color-faint-25;
    themeSecondaryColor: $theme-secondary-color;
    themeSecondaryColorLight: $theme-secondary-color-faint;
    themeSecondaryColorLighter: $theme-secondary-color-faint-50;
    themeSecondaryColor0: $theme-secondary-color-0;
    themeSecondaryColor5: $theme-secondary-color-5;
    themeSecondaryColor10: $theme-secondary-color-10;
    themeSecondaryColor20: $theme-secondary-color-20;
    themeSecondaryColor30: $theme-secondary-color-30;
    themeSecondaryColor40: $theme-secondary-color-40;
    themeSecondaryColor50: $theme-secondary-color-50;
    themeSecondaryColor60: $theme-secondary-color-60;
    themeSecondaryColor70: $theme-secondary-color-70;
    themeSecondaryColor80: $theme-secondary-color-80;
    themeSecondaryColor90: $theme-secondary-color-90;
    themeTerciaryColor: $theme-terciary-color;
    themeTerciaryColorFaint: $theme-terciary-color-faint;
    themeTerciaryColorFaint50: $theme-terciary-color-faint-50;
    themeTerciaryColorFaint25: $theme-terciary-color-faint-25;
    failureColor: $failure-color;
    successColor: $success-color;
    backgroundColor: $background-color;
    backgroundColorAlt: $background-color-alt;
    backgroundColorDark: $background-color-dark;
    badColor: $bad-color;
}
