@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_sizes.scss';

#under-construction-page-container {
    color: $theme-primary-color;
    padding-top: 55px;
    padding-bottom: 50px;
}

.huge-icon {
    font-size: 10rem;
}
